@model IEnumerable<tblParts>

<div class="container pt-4">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Parts List</h2>
        </div>
        <div class="col-6 text-end align-bottom">
            <a asp-controller="Parts" asp-action="Create" class="btn btn-info">Add Item</a>
        </div>
    </div>

    <table class="table table-bordered table-striped text-center align-middle">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price($)</th>
            <th>Date Added</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var parts in Model)
        {
            <tr>
                <td>@parts.PartsId</td>
                <td>@parts.PartsName</td>
                <td>@parts.PartsPrice</td>
                <td>@parts.DateAdded</td>
            </tr>
        }
    </tbody>
    </table>
</div>